.master-bear {
  border: 1pt solid green;
  border-radius: 120px;
  margin-right: 20px;
}
.master-comment {
  text-align: left;
  padding: 30px;
  font-family: "PT Mono", monospace;
  font-size: 16pt;
}
.staff-cat {
  border: 1pt solid rgb(207, 102, 15);
  border-radius: 120px;
  margin-right: 20px;
}
.staff-comment {
  text-align: right;
  font-family: "PT Mono", monospace;
  font-size: 16pt;
  color: rgb(207, 102, 15);
  /* border: 1pt solid rgb(207, 102, 15);
  border-radius: 10px; */
}
