.master-bear {
  border: 1pt solid green;
  border-radius: 120px;
  margin-right: 20px;
}
.master-comment {
  text-align: left;
  font-family: "PT Mono", monospace;
  font-size: 16pt;
}
.staff-cat {
  border: 1pt solid rgb(207, 102, 15);
  border-radius: 120px;
  margin-right: 20px;
}

.bubble-container {
  display: flex;
  align-items: center;
  float: right;
}
.bubble {
  border: 2px solid rgb(207, 102, 15);
  padding: 2rem;
  /* width: 25rem; */
  border-radius: 10px;
  font-family: "PT Mono", monospace;
  font-size: 16pt;
}
.pointer {
  height: 2rem;
  width: 2rem;
  border-top: 2px solid rgb(207, 102, 15);
  border-right: 2px solid rgb(207, 102, 15);
  transform: translateX(-53%) rotate(45deg);
  background-color: white;
  z-index: 3;
}
